/* Start User Agent Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EDEEF6;
}
/* End User Agent Reset */

/* Start Utility Rules */
.section-title {
    color: #445876;
    padding: 0 10px 0 0;
    font-size: 32px;
    text-align: right;
    border-right: 3px solid #445876;
}
/* End Utility Rules */

/* Start Navigation/Header Bar */
.top-bar {
    display: flex;
    background-color: #31343D;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px 20px 0;
    flex-wrap: wrap;
}

.top-bar a {
    text-decoration: none;
}

.top-bar h1 {
    color: #312821;
    background-color: #92CCCD;
    font-size: 48px;
    text-align: right;
    padding: 10px 10px 10px 40px;
}

nav {
    margin-top: 20px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 25px;
}

nav ul li a {
    font-weight: lighter;
    font-size: 24px;
    margin: 0 15px;
    color: #92CCCD;
    border-bottom: 5px solid #92CCCD;
    padding: 0 15px 10px 15px;
}
/* End Navigation/Header Bar */

/* Start Jumbotron/Banner */
.jumbo {
    display: block;
}

.jumbo-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbo span {
    color: #312821;
    position: relative;
    float: right;
    bottom: 80px;
    background-color: #92CCCD;
    right: 45px;
    font-size: 32px;
    font-weight: bold;
    padding: 15px;
}
/* End Jumbotron/Banner */

/* Start About Me */
#about-me {
    display: flex;
    color: #445876;
    justify-content: center;
}

#about-me h2 {
    width:30%;
    font-size: 32px;
    padding: 0 1% 0 0;
    border-right: 3px solid #445876;
    text-align: right;
}

.text-container {
    width: 70%;
    flex: 1;
}

.text-container p {
    line-height: 1.5;
    margin-bottom: 10px;
    padding-left: 2.5%;
}
/* End About Me */

